[submodule "drupal_core"]
	path = drupal_root
	url = git://github.com/mblwhoi/drupal_core_symlinks.git
[submodule "sites/all/modules/custom/ldap_authentication"]
	path = sites/all/modules/custom/ldap_authentication
	url = git://github.com/mblwhoi/drupal_ldap_authentication.git
[submodule "sites/all/modules/custom/whoi_ldap_feature"]
	path = sites/all/modules/custom/whoi_ldap_feature
	url = https://github.com/mblwhoi/WHOI-LDAP-Feature
[submodule "sites/all/themes/custom/dla"]
	path = sites/all/themes/custom/dla
	url = git://github.com/mblwhoi/dla_theme.git
